extends layout

block content
	h3 Top 5 productos nuevos

	.results-list.row
		- each item in products
			.product
				a.name(href="/products/detail/#{item.id}")= item.name
				label= "$"+item.price
				label= item.state
				.image
	br
