<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}GarageMX{% endblock %}</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/normalize.css'/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  {% block styles %}{% endblock %}
</head>
<body>
  <div class="pre-header"></div>
  <header class="row">
    <div class="container">
      <div class="col-sm-3">
        <a href="/"><h1>Garage.mx</h1></a>
        <form method="GET" action="/products/search">
          <input type="text" name="name" placeholder="Busqueda de productos"/>
          <input type="submit" value="Buscar"/>
        </form>
      </div>
      <div class="col-sm-2 pull-right user-menu">
        {% if username != null %}
        <a href="/logout">Cerrar sesión</a>
        <br>
        <a href='/products'>Mis productos</a>
        {% else %}
        <a href="/login">Iniciar sesión</a>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="container">
    {% block content %}{% endblock %}
    <script type='text/javascript' data-require="angular.js@*" data-semver="1.3.0-beta.19" src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js'></script>
    <script type='text/javascript' src='/scripts/angularScript.js'></script>
    <script type='text/javascript' src='/scripts/jquery-1.11.1.min.js'></script>
    <script type='text/javascript'>
        $(document).ready(function(){
          $("footer").on("click", function(){
            $('html, body').stop().animate({
                scrollTop: 0
            }, 400);
          });
        });
    </script>
    {% block scripts %}{% endblock %}
    <footer>Derechos reservados garage.mx S.A. de C.V.</footer>
  </div>
</body>
</html>
