extends ../layout

block content
  h3 Sign up

  form(action="/users/sessions", method="post")

    div
      label(for="user_email")
      input(id="user_email", type="email", name="user[email]", required)
    div
      label(for="user_password")
      input(id="user_password", type="password", name="user[password]", required)
    div
      label(for="user_password_confirmation")
      input(id="user_password_confirmation", type="password", name="user[password_confirmation]", required)
    div
      input(type="submit", value="Sign up")
