extends layout

block content
  h1 Productos
  p Construyendo
  a(href='/products/new') Nuevo producto
  br
  a(href='/products/list') Lista de productos
  br
  a(href='/products/update') Actualizar productos
  br
  a(href='/productos/remove') Eliminar productos
