{% extends '../layout.html' %}

{% block styles %}
	<link rel='stylesheet' href='/stylesheets/uploader.css' />
	<link rel='stylesheet' href='/stylesheets/ng-tags-input.css'/>
	<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
{% endblock %}

{% block content %}
	<h1>Nuevo</h1>
	<div ng-app="productsApp">
		<div ng-controller="FormController">
			<form class="form-newProduc" action='/products/new' method='POST' enctype="multipart/form-data">
				<label>Nombre</label>
				<input type="text" name="product[name]">
				<label>Categoria</label>
				<tags-input ng-model="tags" placeholder="Categoría"></tags-input>
				<textarea name='product[category]' ng-hide="true"></textarea>
				<label>Precio</label>
				<input type="text" ng-model="price" ng-currency>
				<input type="hidden" name="product[price]" ng-model="price" ng-hide="true">
				<label>Descripción</label>
				<br>
				<div text-angular ng-model="htmlVariable"></div>
				<textarea name='product[description]' class="displayNone">{{htmlVariable}}</textarea>
				<input type="submit" value="Guardar">
			</form>
		</div>
		<div ng-controller="UploaderController">
			<span id="status">{{ statusMsg }}</span>
			<br>
			<label>Imágen</label>
			<input type="file" name="productPhoto" nv-file-select uploader="uploader"/>
			<ul class="files-list">
				<li class="row" ng-repeat="item in uploader.queue">
					<div class="col-sm-2">
						{{ item.file.name }}
					</div>
					<div class="col-sm-4" ng-if="controller.isImage(item._file)">
						Thumbnail (only images):
						<div ng-thumb="{ file: item._file, height: 100 }">
							<img ng-src="{{item.imageUrl}}" ng-thumb="{ file: item._file, height: 100 }">
						</div>
					</div>
					<div class="col-sm-4" ng-show="uploader.isHTML5">
						<div class="item-progress-box">
							<div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
						</div>
					</div>
					<div class="col-sm-3 controls">
						<button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Subir</button>
						<button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancelar</button>
						<button ng-click="item.remove()">Remover</button>
					</div>
					<div class="col-sm-1">
						<img id="uploadedImage" ng-src="{{imageUrl}}">
					</div>
				</li>
			</ul>
		</div>
		<br>
	</div>
{% endblock %}

{% block scripts %}
	<script type='text/javascript' src='/scripts/angular-file-upload.min.js'></script>
	<script type='text/javascript' src='/scripts/ng-tags-input.min.js'></script>
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>
	<script type='text/javascript' src="//aguirrel.github.io/ng-currency/dist/ng-currency.js"></script>
{% endblock %}
