extends ../layout

block content
	link(rel='stylesheet', href='/stylesheets/uploader.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
	h1 Nuevo
	div(ng-app="productsApp")
		div(ng-controller="FormController")
			form.form-newProduct(action='/products/new', method='POST', enctype="multipart/form-data")
				span(id="status")
					{{ statusMsg }}
				label Nombre
				input(type='text', name='product[name]') 
				label Categoria
				input(type='text', name='product[category]')
				label Precio
				input(type='text', name='product[price]', class="currency", ng-model="testModel", ng-currency)
				label Descripción
				br
				div(text-angular ng-model="htmlVariable")
				textarea(name='product[description]' class="displayNone") {{htmlVariable}}
				input(type='submit', value="Guardar")
		div(ng-controller="UploaderController")
			label Imagen
			input(type="file" name="productPhoto" nv-file-select uploader="uploader")
			ul
			li(ng-repeat="item in uploader.queue")
				{{ item.file.name }}
				div(ng-if="controller.isImage(item._file)") Thumbnail (only images):
					div(ng-thumb="{ file: item._file, height: 100 }")
						img(ng-src="{{item.imageUrl}}" ng-thumb="{ file: item._file, height: 100 }")
				div(ng-show="uploader.isHTML5") Progress: {{ item.progress }}
					div(class="item-progress-box")
						div(class="item-progress" ng-style="{ 'width': item.progress + '%' }")
				button(ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess") Subir
				button(ng-click="item.cancel()" ng-disabled="!item.isUploading") Canelar
				button(ng-click="item.remove()") Remover
			br
			img(id="uploadedImage" ng-src="{{imageUrl}}")
	br
	script(type='text/javascript', src='/scripts/angular-file-upload.min.js')
	script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js')
	script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js')
	script(type='text/javascript', src="//aguirrel.github.io/ng-currency/dist/ng-currency.js")
	script(type='text/javascript', src='/scripts/jquery.formatCurrency-1.4.0.min.js')
	script(type='text/javascript').
		$(document).ready(function(){
			$("form").on("submit",function(){
				$('.currency').toNumber();
			});
		});