extends ../layout

block content
	h1 Nuevo
	form.form-newProduct(action='/products/new', method='POST', enctype="multipart/form-data")
		label Nombre
		input(type='text', name='product[name]') 
		label Categoria
		input(type='text', name='product[category]')
		label Precio
		input(type='text', name='product[price]', class="currency")
		label Imagen
		input(type='submit', value="Guardar")
	div(ng-app="uploadFiles")
		div(ng-controller="MainController")
			input(type="file" name="productPhoto" ng-file-select="onFileSelect($files)")
			span(id="status")
				{{ statusMsg }}
			button(id="btnSubir") Subir
			br
			img(id="uploadedImage" ng-src="{{imageUrl}}")
			br
	script(type='text/javascript', src='/scripts/angular-file-upload.min.js')
	script(type='text/javascript', src='/scripts/jquery.formatCurrency-1.4.0.min.js')
	script(type='text/javascript').
		$(document).ready(function(){
			$('.currency').on("blur", function(){
				$(this).formatCurrency();
			})
			.on("keypress", function (e){if( e.which!=8 && e.which!=0 && (e.which<46 || e.which>57)){return false;}});
			
			$("form").on("submit",function(){
				$('.currency').toNumber();
			});
		});